config USB_GADGET_DESIGN_WARE
	boolean "DESIGN WARE usb device controller"
	depends on USB && EXPERIMENTAL
	select USB_OTG
	select USB_GADGET_DUALSPEED
	help
	  This is a DESIGN WARE usb device controller

config USB_DESIGN_WARE
	tristate
	depends on USB_GADGET_DESIGN_WARE   
	default USB_GADGET
	select USB_GADGET_SELECTED


